<div class="flex flex-col h-screen">
  <header class="p-4 bg-gray-100 flex w-full items-center justify-between">
    <%= link_to shortened_urls_path, class: "text-gray-600 hover:text-gray-800 transition duration-300 ease-in-out" do %>
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    <% end %>
    <a href="/admin" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-transform duration-200 ease-in-out">
      Admin Page
    </a>
  </header>

  <main class="flex-grow flex flex-col justify-center items-center p-4">
    <div class="max-w-2xl w-full space-y-8">
      <div class="bg-green-100 rounded-lg p-6 text-center">
        <h2 class="text-xl font-semibold mb-2">Page Title</h2>
        <p class="text-2xl text-gray-800 break-all">
          <%= @title %>
        </p>
      </div>
      <div class="bg-gray-100 rounded-lg p-6 text-center">
        <h2 class="text-xl font-semibold mb-2">Original URL</h2>
        <a href="<%= @target_url %>" 
           class="text-2xl text-blue-600 hover:text-blue-800 break-all" 
           onclick="window.location.href='<%= @target_url %>';">
          <%= @target_url %>
        </a>
      </div>

      <div class="bg-blue-100 rounded-lg p-6 text-center">
        <h2 class="text-xl font-semibold mb-2">Shortened URL</h2>
        <% formatted_short_url = @short_url.start_with?('http://', 'https://') ? @short_url : "http://#{@short_url}" %>
        <a href="<%= formatted_short_url %>" 
           class="text-2xl text-blue-600 hover:text-blue-800 break-all" 
           onclick="window.location.href='<%= formatted_short_url %>';">
          <%= formatted_short_url %>
        </a>
      </div>
    </div>
  </main>
</div>