<div class="flex justify-center items-center h-screen">
  <div class="max-w-md mx-auto p-4 bg-white rounded-lg shadow-md">
    <div class="flex justify-between items-center mb-4">
      <%= link_to shortened_urls_path, class: "text-gray-500 hover:text-gray-700 transition duration-300 ease-in-out" do %>
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
      <% end %>
      <h2 class="text-lg font-medium text-gray-600">Shortened URL</h2>
    </div>
    <div class="flex flex-col items-center mb-4">
      <div class="bg-white rounded-full py-2 px-4 w-full mb-2">
        <a href=<%= @target_url %> class="text-sm text-gray-500 hover:text-blue-600 transition duration-300 ease-in-out font-bold" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">
          Original URL: <%= @target_url %>
        </a>
      </div>
      <div class="bg-white rounded-full py-2 px-4 w-full">
        <a href=<%= @short_url %> class="text-sm text-gray-500 hover:text-blue-600 transition duration-300 ease-in-out font-bold" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">
          Shortened URL: <%= @short_url %>
        </a>
      </div>
    </div>
  </div>
</div>

