<div class="container mx-auto h-screen">
    <header class="p-4 bg-gray-100 flex w-full items-center justify-between">
        <%= link_to showcase_all_stats_path, class: "text-gray-600 hover:text-gray-800 transition duration-300 ease-in-out" do %>
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
            </svg>
        <% end %>
        <h1 class="text-2xl font-bold mb-4">User Stats for <%= @url_title %></h1>
        <a href="/admin" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-transform duration-200 ease-in-out">
            Admin Page
        </a>
    </header>
    <main class=" p-4">

        <div class="mb-8">
            <div class="bg-white p-4 rounded-lg shadow">
            <%= line_chart @clicks_over_time, xtitle: "Date", ytitle: "Clicks", title: "Clicks Over Time" %>
            </div>
        </div>

        <div class="flex flex-wrap -mx-2">
            <div class="w-full md:w-1/2 p-2">
            <div class="bg-white p-4 rounded-lg shadow">
                <%= pie_chart @clicks_by_country, title: "Clicks by Country" %>
            </div>
            </div>
            <div class="w-full md:w-1/2 p-2">
            <div class="bg-white p-4 rounded-lg shadow">
                <%= pie_chart @clicks_by_timezone, title: "Clicks by Timezone" %>
            </div>
            </div>
        </div>
    </main>
</div>